flows.json
[
    {
        "id": "12751e08.b81292",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36a63472.27336c",
        "type": "http in",
        "z": "12751e08.b81292",
        "name": "GET: foo",
        "url": "/api/foo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "fe89f27f.a7fc8"
            ]
        ]
    },
    {
        "id": "fe89f27f.a7fc8",
        "type": "function",
        "z": "12751e08.b81292",
        "name": "payload",
        "func": "msg.payload = {\n    \"ok\":200\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "157ec126.8ce37f"
            ]
        ]
    },
    {
        "id": "157ec126.8ce37f",
        "type": "http response",
        "z": "12751e08.b81292",
        "name": "Http Response",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json",
            "Access-Control-Allow-Origin": "*"
        },
        "x": 650,
        "y": 120,
        "wires": []
    }
]